Web Services and Cloud/WcfTests/WcfDemoConsumer/Service References/ServiceReferenceTest/TestService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Input">
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Input" nillable="true" type="tns:Input" />
</xs:schema>